You have Successfully logged in, <%= @user.user_id %> <br>
Name: <%=@user.full_name%><br>
Address: <%=@user.street_address%><br>
City: <%=@user.city%><br>
State: <%=@user.state%><br>
Postal Code: <%=@user.postal_code%><br>
Country: <%=@user.country%><br>
Email: <%=@user.email%><br>

<!-- If @user has a phone number  -->
<% if @user.phones.length > 0 %>

  <!-- displays each phone  : -->
  <ul>
    <% @user.phones.each do |phone| %>
      <li> <%= phone.number %> </li>
    <%end%>
  </ul>

<%else%>
  No Phones
<%end%>

<form action="/" method="get">
  <input type="submit" name="log_out" value="Log Out"/>
</form>
